<div class="row text-center">
  <div class="col-md-6">
    <div class="jumbotron">
      <p>You've choosen <strong>left</strong>:</p>

      <h2><%= @left_count %></h2>
      <p>times</p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="jumbotron">
      <p>You've choosen <strong>right</strong>:</p>

      <h2><%= @right_count %></h2>
      <p>times</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form method="post" action="/choose">
      <div class="radio">
        <label>
          <input type="radio" name="choice" id="choice_left" value="left">
          I choose left
        </label>
      </div>

      <div class="radio">
        <label>
          <input type="radio" name="choice" id="choice_right" value="right">
          I choose right
        </label>
      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Register choice">
    </form>
  </div>
</div>

