<div class="row text-center">
  <div class="col-md-6">
    <div class="jumbotron">
      <p>You've choosen <strong>left</strong>:</p>

      <h2><%= @left_count %></h2>
      <p>times</p>
    </div>
  </div>

  <div class="col-md-6">
    <div class="jumbotron">
      <p>You've choosen <strong>right</strong>:</p>

      <h2><%= @right_count %></h2>
      <p>times</p>
    </div>
  </div>
</div>
