<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra sessions example</title>
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Sinatra session example</h1>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
